/*base*/
body {
     font-family: "Vazirmatn", sans-serif !important;
}
body {
     background-color: whiteSmoke;
}
 header {
     background-color: white;
     border-radius: 0.5em;
     box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.1);
}

.up {
     color: gray;
     text-align: center;
     font-size: 1.5em;
     text-align: center;
}
 .copyright {
     color: darkgray;
     text-align: center;
}
footer {
     background-color: white;
     border-radius: 0.5em;
     box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.1);
}
code {
     background-color: lightgray;
     font-family: 'Fira Code', monospace !important;
     border-left: 0.3em solid darkgray;
     padding: 2px 2px 2px 4px 
 }
 footer {
     position: absolute;
     bottom: 0.5em;
     left: 0.5em;
     right: 0.5em;
 }
 header {
     position: sticky;
     top: 0.5em;
     right: 0.5em;
     left: 0.5em;
 }
 span {
    margin: 0.25em 0.25em 0.25em 0.25em;
 }
 /*import*/
 
 @font-face {
     font-family: "Vazirmatn";
     src: url('Font/Vazirmatn[wght].woff2') format('woff2 supports variations'), url('Font/Vazirmatn[wght].woff2') format('woff2-variations');
     font-weight: 100 900;
     font-style: normal;
     font-display: swap;
}
@font-face {
    font-family: "Fira code";
    src: url('Font/FiraCode-VF.woff2') format('woff2 supports variations'), url('Font/FiraCode-VF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
/*special rules*/

/* Rules for sizing the icon. */

 .material-icons.md-18 {
     font-size: 18px !important;
}
 .material-icons.md-24 {
     font-size: 24px !important;
}
 .material-icons.md-36 {
     font-size: 36px !important;
}
 .material-icons.md-48 {
     font-size: 48px !important;
}
/* Rules for using icons as black on a light background. */
 .material-icons.md-dark {
     color: rgba(0, 0, 0, 0.54) !important;
}
 .material-icons.md-dark.md-inactive {
     color: rgba(0, 0, 0, 0.26) !important;
}
/* Rules for using icons as white on a dark background. */
 .material-icons.md-light {
     color: rgba(255, 255, 255, 1) !important;
}
 .material-icons.md-light.md-inactive {
     color: rgba(255, 255, 255, 0.3) !important;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 
 /*page specials*/
 .title-div {
     text-align: center;
     color: #7c5eeb;
 }
 .title {
     font-size: 2.5em;
}
 .subtitle {
     font-size: 1em;
}